Repository FullDevOficial/Meruem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check, npm run build --if-present

Pixel perfect fit and responsiveness on the about page
  src/app/features/sobre/sobre.component.html
  src/app/features/sobre/sobre.component.scss
  src/app/features/sobre/sobre.component.ts
  src/app/shared/components/custom-button/custom-button.scss
  src/app/shared/components/footer/footer-component.html
  src/app/shared/components/footer/footer-component.scss
  src/app/shared/components/nav-menu/nav-menu-component.html
  src/app/shared/components/nav-menu/nav-menu-component.scss
  src/app/shared/components/nav-menu/nav-menu-component.ts
  src/app/shared/components/social-component/social-component.scss
  src/app/shared/material.module.ts
  src/styles.scss
Due: eslint, prettier --check, npm run build --if-present

Update src/app/core/services/api.service.ts
  src/app/core/services/api.service.ts
Due: eslint, prettier --check, npm run build --if-present

Implements responsive header
  src/app/features/sobre/sobre.component.html
  src/app/shared/components/nav-menu/nav-menu-component.html
  src/app/shared/components/nav-menu/nav-menu-component.scss
  src/app/shared/components/nav-menu/nav-menu-component.ts
  src/app/shared/material.module.ts
  src/styles.scss
Due: eslint, prettier --check, npm run build --if-present

refactor(contact): Improves HTML semantics and refactors SCSS for BEM
  src/app/features/contato/contato.component.html
  src/app/features/contato/contato.component.scss
  src/app/features/contato/contato.component.ts
  src/styles.scss
Due: eslint, prettier --check, npm run build --if-present

Adds title attributes to tooltips on links and buttons
  src/app/features/contato/contato.component.html
Due: npm run build --if-present

update: adicionado responsividade nas páginas
  src/app/features/home/home.scss
  src/app/features/sobre/sobre.scss
  src/app/features/voluntario/voluntario.scss
  src/app/shared/components/modal-generic/modal-generic.scss
  src/app/shared/components/modal-membership/modal-membership.scss
  src/app/shared/components/modal-volunteer/modal-volunteer.scss
  src/app/shared/components/nav-menu/nav-menu.scss
Due: npm run build --if-present

refactor groups.component file
  src/app/features/grupos/grupos.component.html
  src/app/features/grupos/grupos.component.scss
  src/app/features/grupos/grupos.component.ts
Due: eslint, prettier --check, npm run build --if-present

refactor page home
  src/app/features/home/home.component.html
  src/app/features/home/home.component.scss
Due: npm run build --if-present

Standardizes the class of the about, contact and volunteer pages
  src/app/features/contato/contato.component.html
  src/app/features/contato/contato.component.scss
  src/app/features/sobre/sobre.component.html
  src/app/features/voluntario/voluntario.component.html
  src/styles.scss
Due: npm run build --if-present

update: ajustando alguns problemas após merge
  src/app/features/contato/contato.component.html
  src/app/features/contato/contato.component.ts
  src/app/features/grupos/grupos.component.html
  src/app/features/grupos/grupos.component.ts
  src/app/features/home/home.component.scss
  src/app/features/home/home.component.spec.ts
  src/app/features/sobre/sobre.component.html
  src/app/features/sobre/sobre.component.ts
  src/app/features/voluntario/voluntario.component.html
  src/app/features/voluntario/voluntario.component.ts
  src/app/shared/components/modal-contact/modal-contact.html
  src/app/shared/components/modal-contact/modal-contact.scss
  src/app/shared/components/modal-membership/modal-membership.scss
  src/app/shared/components/modal-volunteer/modal-volunteer.scss
Due: eslint, prettier --check, npm run build --if-present

refactor modal-contact
  src/app/features/voluntario/voluntario.component.html
  src/app/features/voluntario/voluntario.component.ts
  src/app/shared/components/custom-modal/custom-modal.scss
  src/app/shared/components/modal-contact/modal-contact.html
  src/app/shared/components/modal-contact/modal-contact.scss
  src/styles.scss
Due: eslint, prettier --check, npm run build --if-present

refactor modal-membership
  src/app/features/voluntario/voluntario.component.html
  src/app/features/voluntario/voluntario.component.ts
  src/app/shared/components/custom-modal/custom-modal.scss
  src/app/shared/components/modal-contact/modal-contact.scss
  src/app/shared/components/modal-membership/modal-membership.html
  src/app/shared/components/modal-membership/modal-membership.scss
  src/styles.scss
Due: eslint, prettier --check, npm run build --if-present

refactor modal-volunteer
  src/app/features/voluntario/voluntario.component.html
  src/app/features/voluntario/voluntario.component.ts
  src/app/shared/components/custom-modal/custom-modal.scss
  src/app/shared/components/modal-volunteer/modal-volunteer.html
  src/app/shared/components/modal-volunteer/modal-volunteer.scss
  src/styles.scss
Due: eslint, prettier --check, npm run build --if-present

Adjust the input height.
  src/styles.scss
Due: npm run build --if-present

inclusão service - fix lint
  angular.json
  package-lock.json
  src/app/core/guards/admin.guard.ts
  src/app/core/guards/auth.guard.ts
  src/app/core/guards/index.ts
  src/app/core/index.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/interceptors/index.ts
  src/app/core/interceptors/logging.interceptor.ts
  src/app/core/interceptors/rate-limit.interceptor.ts
  src/app/core/interceptors/retry.interceptor.ts
  src/app/core/models/index.ts
  src/app/core/services/api.service.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/banned-phones.service.ts
  src/app/core/services/community.service.ts
  src/app/core/services/config.service.ts
  src/app/core/services/index.ts
  src/app/core/services/notification.service.ts
  src/app/core/services/rate-limit.service.ts
  src/app/core/services/whatsapp.service.ts
  src/app/features/sobre/sobre.component.ts
  src/app/features/voluntario/voluntario.component.ts
Due: eslint, prettier --check, npm run build --if-present

Refactor [HomeComponent] - Adjusts overall display and adds entry animation
  src/animation.scss
  src/app/features/grupos/grupos.component.scss
  src/app/features/home/home.component.html
  src/app/features/home/home.component.scss
  src/app/shared/components/custom-button/custom-button.scss
  src/app/shared/components/footer/footer-component.scss
  src/styles.scss
Due: npm run build --if-present

Refactor: Ajusta projeto para usar temporariamente com dados mockudos
  package-lock.json
  package.json
  public/fd-dark.jpg
  public/fd-default.jpg
  public/fd-english.jpg
  public/fd-g-1.jpg
  public/fd-g-2.jpg
  public/queens.jpg
  src/app/features/grupos/group.model.ts
  src/app/features/grupos/grupos.component.html
  src/app/features/grupos/grupos.component.ts
  src/app/features/home/home.component.html
  src/app/features/home/home.component.scss
  src/app/features/home/home.component.ts
  src/app/shared/components/custom-modal/custom-modal.html
  src/app/shared/components/custom-modal/custom-modal.scss
  src/index.html
Due: eslint, prettier --check, npm run build --if-present

BugFix - Ajusta responsividade
  src/app/features/home/home.component.scss
Due: npm run build --if-present

Fix formatting in README.md
  README.md
Due: none

Path conditions:
  eslint: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --check: any of: src/**/*.{ts,tsx,js,jsx}
  npm run build --if-present: any of: src/**/*
